<%= @outgoing_message.body.strip %>

-------------------------------------------------------------------

<%= render :partial => 'followup_footer' %>

-------------------------------------------------------------------
